numpy
opencv-python
tensorflow
pickle5==0.0.12
python-dotenv
streamlit
google-generativeai
langchain
langchain-google-genai
langchain-community
langchain-core
PyPDF2
Pillow
faiss-cpu  # or faiss-gpu if you use GPU
