numpy
opencv-python
tensorflow
pickle5==0.0.11  # Using a different version
python-dotenv
streamlit
google-generativeai
langchain
langchain-google-genai
langchain-community
langchain-core
PyPDF2
Pillow
faiss-cpu
